
.fa-facebook{
    color:blue;
	font-size:150px;
#bar2{
	background-color: white;
	width:800px;
	height: 100px;
	margin: auto;
	margin-top: 15px;
	padding:50px;
	padding-top: 20px;
	font-weight:bold;
	padding-left:100px;
	}
	